<div class="container-fluid">
  <br />
  <h4 style="text-align:center; margin-right: 3%">{{projet.name}}</h4>
  <hr />
  <div class="row">
    <div class="ml-auto mr-auto">
      <p>name: {{projet.name}}</p>
      <p>type: {{projet.type}}</p>
      <p>price: {{projet.price}}</p>
      <p>ClientId: {{projet.clientId}}</p>
      <a [routerLink]="['/projets/edit',projet.id]">edit</a>
      <a [routerLink]="['/projets']" style="margin-left: 7%">Return</a>
      <br />
      <br />
      <div class=" ml-auto mr-auto" >
          <tr>
            <td>
                <button class="btn btn-danger" style="margin-left: 4%" (click)="deleteProjet()">
                    Delete Project
                </button>
            </td>
          </tr>
      </div>
    </div>
  </div>
</div>
