<!--The content below is only a placeholder and can be replaced.-->
<header>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-image: repeating-linear-gradient(white, #BFE6FF 50px)">
    <div class="container margin-auto" >
        <ul class="navbar-nav flex-grow-1 list-inline justify-content-center">
            <li class="nav-item">

                <a  class="nav-link text-dark" routerLink="clients">Clients</a>

            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1 list-inline justify-content-center">
            <li class="nav-item">

                <a  class="nav-link text-dark" routerLink="users">Users</a>

            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1 list-inline justify-content-center">
            <li class="nav-item">

                <a  class="nav-link text-dark" routerLink="projets">Projets</a>

            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1 list-inline justify-content-center">
            <li class="nav-item">

                <a  class="nav-link text-dark" routerLink="days">Days</a>

            </li>
        </ul>
    </div>
</nav>
</header>

<div>
  <h1 style="text-align:center">
    TimesheetApp
  </h1>
  <router-outlet></router-outlet>
</div>
