<br />
<h2>Projets</h2>
<br />
<a [routerLink]="['projets/create']" >New Project</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
           <th>
                Type
           </th>
           <th>
                Price
           </th>
           <th>
                ClientId
           </th>
        </tr>
    </thead>
    <tbody *ngFor="let projet of projets">
        <tr>
            <td>
                {{projet.name}}  
            </td>
            <td>
                {{projet.type}}
            </td>
            <td>
                {{projet.price}} 
            </td>
            <td>
                {{projet.clientId}}
            </td>
        </tr>
    </tbody>
</table>
