<h1>Clients</h1>
<br />
<form (ngSubmit)="select()" >
  <div class="form-group">
      <select class="form-control w-25">
        <option *ngFor="let user of users" >{{user.name}}</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                UserId
            </th>
           <th>
                ProjetId
           </th>
           <th>
                Date
           </th>
           <th>
                Time Spent
           </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let day of days">
            <td>
                {{day.userId}}
            </td>
            <td>
                {{day.projetId}}
            </td>
            <td>
                {{day.date}}
            </td>
            <td>
                {{day.timeSpent}}
            </td>
        </tr>
    </tbody>
</table>
