<br />
<h2>Days</h2>
<br />
<br />
<form [formGroup]="search" (Submit)="select()">
  <div class="form-group">
      <select formControlName="name" class="form-control w-25">
        <option *ngFor="let user of users" value="user.id">{{user.name}}</option>
      </select>
      <input class="form-control w-25" type="month" formControlName="month">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                UserId
            </th>
           <th>
                ProjetId
           </th>
           <th>
                Date
           </th>
           <th>
                Time Spent
           </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let day of days">
            <td>
                {{day.userId}}
            </td>
            <td>
                {{day.projetId}}
            </td>
            <td>
                {{day.date}}
            </td>
            <td>
                {{day.timeSpent}}
            </td>
        </tr>
    </tbody>
</table>
