<br />
<h2>Users</h2>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
           <th>
                Residence
           </th>
           <th>
                Phone
           </th>
           <th>
                Mail
           </th>
           <th>
                Statut
           </th>
           <th>
                Salary
           </th>
        </tr>
    </thead>
    <tbody *ngFor="let user of users">
        <tr>
            <td>
                {{user.name}}  
            </td>
            <td>
                {{user.residence}}
            </td>
            <td>
                {{user.phone}} 
            </td>
            <td>
                {{user.mail}}
            </td>
            <td>
                {{user.statut}}
            </td>
            <td>
                {{user.salary}}
            </td>
        </tr>
    </tbody>
</table>