<div class="mx-2">
  <form [formGroup]="timesheet" (ngSubmit)="submit()">
    <div class="flex-nowrap flex-row form-row ">
      <input class="form-control title-projet mx-1" type="text" disabled="true" placeholder="{{ projet.name }}"/>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="1" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="2" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="3" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="4" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="5" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="6" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="7" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="8" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="9" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="10" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="11" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="12" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="13" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="14" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="15" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="16" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="17" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="18" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="19" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="20" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="21" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="22" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="23" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="24" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="25" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="26" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="27" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="28" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="29" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="30" />
      </div>
      <div class="form-group">
        <input class="form-control input col mx-1" type="text" formControlName="31" />
      </div>
      <div class="form-group align-self-end">
        <input class="form-control input col mx-1" type="submit" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>
