<h2 style="text-align:center">Projet</h2>
<hr />
<div class="row">
    <div class="col-3 mx-auto">
        <form [formGroup]="createProjet" (submit)="send()">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input formControlName="name" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="control-label">type</label>
                <input formControlName="type" class="form-control" type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label">price</label>
                <input formControlName="price" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="control-label">clientId</label>
                <input formControlName="clientId" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="text-align:center">
    <a [routerLink]="['/clients']">Back to Clients</a>
</div>
